[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"

[packages]
pandas = "*"
numpy = "*"
bs4 = "*"
BeautifulSoup = "*"

[requires]
python_version = "3.7"
